html, body {
  height: 100%;
}

body {
    font-size: 90%;
    font-family: calibri;
    padding: 0;
    margin: 10px 10px;
    background: #696969;
    background: radial-gradient(#696969, black) /*no-repeat*/;
}

h1 {
    font-size: 1.6em;
}

.text {
    color: #c0c0c0;
    display: inline;
}

header {
    color: #c0c0c0;
}

.comment {
    text-align: center;
    color: #c0c0c0;
    margin-bottom: 4px;
}

a {
    color: #696969;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flash-message {
    border: 1px solid #696969;
    border-radius: 4px;
    background-color: #c0c0c0;
    padding: 6px;
}

.cat-preview {
    margin-bottom: 4px;
}

.cat-preview textarea,
.cat-preview input {
    vertical-align: top;
}