body {
    font-size: 90%;
    font-family: calibri;
    padding: 0;
    margin: 10px 10px;
}

.cat-pic img {
    border: 1px solid gray;
    padding: 1px;
    max-height: 90%;
}

h1 {
    font-size: 1.4em;
}