<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Алёшка.site — сайт Алексея</title>
	<title>{% if title %}{{title}} - {% endif %}BooksDB</title>
	<link rel="stylesheet" href="/static/main.css">
	<!--script type="text/javascript" src="/static/main.js"></script-->
</head>
<body>
	<header>
		<div style="width:100%;">
			<a href="/create" style="float: right;">Create new DB</a>
			<!--a href="/">Home</a> |-->
		</div>
		<h1>Алёшка.site</h1>
	</header>
	<hr />
	{%- with messages = get_flashed_messages(with_categories=true) -%}
	{%- if messages -%}
	<ul class="flashes">
	{% for category, message in messages %}
		<li class="flash-{{ category }}">{{ message|safe }}</li>
	{% endfor %}
	</ul>
	{%- endif -%}
	{%- endwith -%}
	{% block content %}{% endblock %}
	</div>
	<!-- footer>-{{cat}}-</footer -->
</body>
</html>