<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1">
    <title>Алёшка.site — сайт Алексея</title>
	<link rel="stylesheet" href="/static/content/main.css">
</head>
<body>
	<header>
		{% if logged_in %}
		<div style="width:100%;">
			<span style="float: right;">
				<a href="/" style="">main</a> |
				<a href="/cat" style="">aleshkas</a> |
				<a href="/logout" style="">logout</a> &nbsp; &nbsp; &nbsp; &nbsp;
				<a href="/create-test" style="">create test db</a> |
				<a href="/create" style="">create new db</a>
			</span>
		</div>
		{% else %}
		{%- if request.path=='/login' %}
		<div style="width:100%;">
			<span style="float: right;">
				<a href="/" style="">main</a>
			</span>
		</div>
		{% endif %}
		{% endif %}
		<h1>Алёшка.site</h1>
	</header>
	{%- with messages = get_flashed_messages(with_categories=true) -%}
	{%- if messages -%}
	{% for category, message in messages %}
	<div class="alert alert-{{category}}">
		{{ message|safe }}
	</div>
	{% endfor %}
	{%- endif -%}
	{%- endwith -%}
	{% block content %}{% endblock %}
	</div>
s</body>
</html>